body{
	font-family: 'Alice', serif;
}
h1{
	font-size: 60px;
	text-align: center;

}
.form-label{
	color: #3d3c3c;
	font-size: 25px;
}

button.btn{
	background-color: #07a82e;
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
}
form{
	margin-top: 80px;
}

